@import 'tailwindcss';
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #121212; */
}

.music-container {
  display: flex;
  flex-direction: column; /* one by one */
  align-items: center; /* center horizontally */
  gap: 30px; /* gap between cards */
  padding: 30px 0;
}

.music-card {
  width: 100%;
  max-width: 420px;
  background: #111;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.music-title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.music-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
